<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
	<h2>SIGN IN</h2>
	<form action='/login' method='post' id='loginForm'>
		<div class='inputContainer'>
			<label for='email'>Email</label>
			<input id='email' name='email' type='text' />
		</div>
		
		<div class='inputContainer'>
			<label for='password'>Password</label>
			<input id='password' name='password' type='password' />
		</div>
		
		<div class='inputContainer'>
			<button type='submit' id='login-btn'>Login</button>
		</div>
	</form>

	<div>
		Don't have an account? <a href='/register'>Register</a>
	</div>
</body>
</html>