<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
    <h2>SIGN UP</h2>
    <form method='post' action='/register'>
        <div class='inputContainer'>
            <label for='email'>Email address</label>
            <input id='email' name='email' type='text' />
        </div>
        
        <div class='inputContainer'>
            <label for='password'>Password</label>
            <input id='password' name='password' type='password' />
        </div>
        
        <div class='inputContainer'>
            <label for='confirmPassword'>Confirm password</label>
            <input id='confirmPassword' name='confirmPassword' type='password' />
        </div>
        
        <div class='inputContainer'>
            <button type='submit'>Register</button>
        </div>
    </form>
    <div>
        <a href='/login'>Back to Login</a>
    </div>
</body>
</html>